@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    overflow: hidden;
    background-image: url("bg.png");
    background-size: contain;
}

.cardcontainer {
    width: 780px;
    max-height: 575px;
    min-height: 575px;
    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.cardlist {
    width: 260px;

    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.card {
    width: 240px;
    
    background-color: whitesmoke; 
    box-shadow: 0px 0px 5px lightgrey;
    border: 0px;
}

.card-body {
    font-family: 'Noto Sans KR', sans-serif;
    width: 240px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-weight: 700;
}

.card-img-top {
    width: 240px;
    max-height: 140px;

    object-fit: cover;
}

.modal {
    width: inherit;
}