.tilecontainer {
    width: 480px;
} /* Container containing the tiles Need to define how to stack up the tiles*/
.container {
    width: 480px;
}

.card {
    width: 200px;
    background-color:whitesmoke;
    box-shadow: 0px 0px 10px lightgrey;
    border: 0px;
    border-radius: 0px;
}

.card-body {
    width: inherit;
}

img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}	

.tilecontainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.tilecontainer div {
    align-self: flex-start;
}